/* 언어설정 */
@charset 'utf-8';

/* 구글폰트설정 */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* 전체설정 */
* {margin: 0; padding: 0;}

ul {list-style: none;}
a {text-decoration: none; color: black;}

/* 기본CSS */
/* 로고설정 */
.logo {font-size: 60px; font-family: 'Source Code Pro', monospace;}
.logo a {color: brown;}
/* 메뉴설정 */
.menu>ul {display: flex;}
.menu>ul>li {width: auto;}
.menu>ul>li>a {display: block; padding: 20px; font-size: 18px; font-weight: bold;}
.boxtwo {background-color: darkorange;}
/* 기사설정 */
.means {}
.means h2 {font-size: 45px; top: 0; margin-bottom: 20px;}
.means time {}
.means p {margin-top: 10px; margin-bottom: 20px; font-size: 25px;}
.means h3 {margin-top: 35px; border-left: double 10px brown;
  padding-left: 20px; font-weight: normal;
  font-size: 35px;}
.means img {width: 100%; height: auto;}
/* TIP */
.tip {margin-bottom: 55px;}
.tip h3{color: darkgoldenrod; font-size: 25px; margin-left: 30px; margin-top: 0; margin-bottom: 10px; border-bottom: dotted 5px #dddddd;}
.tip ul {margin-left: 30px;}
.tip li {}
.tip li a {display: block; padding: 7px; font-size: 20px;}
.tip li a i {color: #999999; margin-right: 8px;}
/* EVERY */
.every {margin-bottom: 0px;}
.every h3{color: darkgoldenrod; font-size: 25px; margin-left: 30px; margin-top: 0; margin-bottom: 10px; 
          border-bottom: dotted 5px #dddddd;}
.every ul {margin-left: 30px;}
.every li {}
.every li a {display: block; font-size: 22px; color: #666666; text-align: center; position: relative; margin-bottom: 25px;}
.every li a img {width: 100%; height: auto; vertical-align: bottom;}
.every .text {position: absolute; top: 0; left: 0; width: 100%; padding: 5px 10px;
              background-color: rgba(00, 00, 00, 0.5); color: #ffffff;
              box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
/* SNS설정 */
.sns {margin-top: 30px;}
.sns ul {display: flex;}
.sns ul li {flex: 1;}
.sns ul li a {display: block; text-align: center; background-color: #999; 
              font-size: 15px; padding: 15px 0; color: #ffffff;}
.sns ul li:nth-child(1) a {background-color: #1da1f2;}
.sns ul li:nth-child(2) a {background-color: #1877f2;}
.sns ul li:nth-child(3) a {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5851db+0,e1306c+33,f56040+66,ffdc80+100 */
                          background: #5851db; /* Old browsers */
                          background: -moz-linear-gradient(45deg,  #5851db 0%, #e1306c 33%, #f56040 66%, #ffdc80 100%); /* FF3.6-15 */
                          background: -webkit-linear-gradient(45deg,  #5851db 0%,#e1306c 33%,#f56040 66%,#ffdc80 100%); /* Chrome10-25,Safari5.1-6 */
                          background: linear-gradient(45deg,  #5851db 0%,#e1306c 33%,#f56040 66%,#ffdc80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5851db', endColorstr='#ffdc80',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
.sns ul li:nth-child(4) a {background-color: #ff0000;}
/* 관련기사설정 */
.relation {margin-top: 50px; background-color: rgb(224, 241, 199); padding: 15px;}
.relation h3 {margin-top: 0; margin-bottom: 9px; color: #727224;}
.relation ul {}
.relation ul::after {content: ""; display: block; clear: both;}
.relation ul li {float: left; width: 25%;}
.relation ul li a {display: block; padding: 5px; font-size: 17px; text-align: center;}
.relation ul li a img {width: 100%;}
.relation .text {}
/* 제품소개설정 */
.popular {margin-top: 60px; margin-bottom: 50px;}
.popular h3 {color: darkgoldenrod; font-size: 25px; margin-left: 30px; margin-top: 0; margin-bottom: 10px; border-bottom: dotted 5px #dddddd;}
.popular ul {margin-left: 30px;}
.popular li {}
.popular li a {display: block; padding: 10px; font-size: 17px; color: firebrick; border-bottom: 1px dotted #dddddd;}
.popular li a::after {content: ""; display: block; clear: both;}
.popular img {float: left; width: 80px;}
.popular .text {float: none; width: auto; margin-left: 80px; padding-left: 10px;}
.popular span {display: block; font-size: 15px; color: #666666;}

/* 푸터설정 */
.boxfive {border-top: solid 1px darkgoldenrod;}
.copyright {font-size: 18px; color: gainsboro}

/* 패딩으로 간격설정 */
.boxone {padding-top: 8px; padding-bottom: 8px;}
.boxthree {padding-top: 40px; padding-bottom: 30px;}
.boxfour {padding-top: 40px; padding-bottom: 30px;}
.boxfive {padding-top: 20px; padding-bottom: 40px;}

/* 좌우간격설정 */
.boxone, .boxZ, .menu, .copyright {padding-left: 20px; padding-right: 20px;}



/* 미디어쿼리구간######################################################## */
/* 모바일구간1 */
/* 599px 이하일 때############################# */
@media (max-width:599px){
/* sns설정 */
.sns span {text-indent: -9999px; display:inline-block}
/* 관련기사 */
.relation ul li {float: left; width: 50%;}
.relation ul li:nth-child(odd) {clear: both;}
}
/* 모바일구간2 */
/* 600px 이상 767px 이하일 때################## */
@media (min-width:600px) and (max-width:767px){
/* boxfour-1과 boxfour-2의 가로정렬 */
.boxfour::after {content: ""; display: block; clear: both;}
.boxfour-1 {float: left; width: 49%;}
.boxfour-2 {float: left; width: 49%;}
}

/* 태블릿구간 */
/* 768px 이상일 때############################# */
@media (min-width: 768px){
/* three와 four의 가로정렬 */
.boxthree {width: 70%; float: left;}
.boxfour {width: 30%; float: left;}
.boxZ::after {content: ""; clear: both; display: block;}
/* three와 four의 좌우간격 */
.box {padding-right: 50px; box-sizing: border-box;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box;}}

/* 웹구간 */
/* 1280px이상일 때############################# */
@media (min-width:1280px){.boxone, .boxZ, .menu, .copyright {width: 1190px; margin: 0 auto;}}