@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
body {background-image: linear-gradient(to left, #eeeeee 50%,#ffffff 50%);
    background-size: 20px 100%; font-family: 'Do Hyeon', sans-serif;}
h1 {font-size: 60px; text-align: center; letter-spacing: 20px; color: #989898;}
.table {width: 80%; margin: 0 auto;}
.table ul {text-align: center; display: flex; list-style: none; margin: 0; padding: 0; flex-wrap: wrap; width: 100%;}
.title li {background-color: beige; padding: 20px; color: rgb(225, 140, 4); font-size: 30px; flex: 1; margin: 0 2px; }
.write li {background-color:#f3877f ; height: 80px; font-size: 28px; color: #fff; flex: 1; margin: 0 2px; display: flex; justify-content: center; align-items: center;}
#result {text-align: center; color: #ff6688; font-size: 78px; margin-top: 50px;}