@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
body {background: linear-gradient(to left, #e4d4b6, #e6dcbe,#e4d4b6);
      background-size: 80px 100%; font-family: 'Jua', sans-serif;}
h1 {font-size: 60px; text-align: center; 
    letter-spacing: 10px; color: #3b1e08;}
.table {width: 80%; margin: 0 auto;}
.table ul {text-align: center; display: flex; list-style: none; margin: 0; padding: 0; flex-wrap: wrap; width: 100%;}
.title li {background-color: rgb(131, 200, 159); padding: 30px; color: rgb(255, 255, 255); font-size: 35px; flex: 1; margin: 0 3px;}
.write li {background-color:#eae59f ; height: 80px; font-size: 30px; color: #3b1e08; flex: 1; margin: 0 3px; display: flex; justify-content: center; align-items: center;}
/* #result {text-align: center; color: #ff6688; font-size: 78px; margin-top: 50px;} */