@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body {background: linear-gradient(to left, #e4d4b6, #e6dcbe,#e4d4b6);
      background-size: 80px 100%; font-family: 'Gamja Flower', cursive;}

h1 {font-size: 60px; text-align: center; 
    letter-spacing: 10px; color: #3b1e08;}
.table {width: 80%; margin: 0 auto;}
.table ul {text-align: center; display: flex; list-style: none; margin: 0;
          padding: 0; flex-wrap: wrap; width: 100%;}
.title li {background-color: rgb(131, 200, 159); padding: 10px;
          color: rgb(255, 255, 255); font-size: 35px; flex: 1; margin: 0 6px;
          border-radius: 5px 5px 0px 0px; display:inline-block; 
          border-top: 2px dashed rgb(83, 128, 101);  
          border-left: 2px dashed rgb(83, 128, 101); border-right: 2px dashed rgb(83, 128, 101);}
.write li {background-color:#eae59f ; height: 60px; font-size: 40px; 
          color: #3b1e08; flex: 1; margin: 0 6px; display: flex; 
          justify-content: center; align-items: center;
          border-radius: 0px 0px 5px 5px; display:inline-block; border: 2px dashed rgb(255, 255, 255);}
.write .show:hover {background-color:#dad47d ; display:inline-block; border: 2px dashed #fff;}