/* 언어설정 */
@charset 'utf-8';

/* 웹폰트설정 */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/* 전체설정 */
body {font-family: 'Architects Daughter', cursive; background: linear-gradient(to top, #ffffff , #d6c6d2);}
ul {list-style: none;}
a {color: #ffffff; text-decoration: none;}

/* 기본CSS */
/* 내부영역설정 */
body {overflow-x: hidden;}
#wrap section {/*box-sizing: border-box; -moz-box-sizing: border-box;*/ -webkit-box-sizing: border-box;}
/* 인포메이션 영역 */
.info_section {/*width: auto; background-color: rgb(197, 136, 157);
                position: absolute; right: 30px; z-index: 50;*/}
.info_section>ul {display: flex;}
.info_section>ul>li {width: auto}
.info_section>ul>li>a {display: block; text-align: center; padding: 15px;}
.info_section>ul>li>a>i {}

/* 헤더영역 */
/* 토글버튼 */
.sub_menu_toggle_button {display: none;}
.menu_toggle_button {display: none;}
.header {flex-direction: column; width: 100%; justify-content: flex-end; position: relative;}
.header h1 {/*width: 100%; font-size: 60px; left: 0; top: 0; text-align: center; position: relative;*/}
.header nav {/*width: 100%; display: flex; align-items: flex-end; color: #fff;*/}
.menu_button {display: flex;}
.menu_button ul {}
.menu_button li {width: auto;}
.menu_button li a {display: block; font-size: 25px; padding: 10px 20px; color: #ffffff;}
.menu_button li a:hover {background-color: rgb(196, 164, 174);}
/* 사진영역 */
.photo_section {}
.photo_section .title {}
.photo_section .photo_list {}
.photo_section li {}
.photo_section a {}
/* 기본정보영역 */
.basic_post_section {display: flex; flex-direction: column; justify-content: center; align-items: center;}
.basic_post_section .title {}
.basic_post_section .basic_post_list {}
.basic_post_section li {}
.basic_post_section li a {}
.basic_post_section li a:hover {}
/* 내용영역 */
.content_section {display: flex; flex-direction: column; justify-content: center; align-items: center;}
.content_section .content_list {}
.content_section li {}
.content_section li a {}
.content_section li a:hover {}
/* 좋아하는것영역 */
.favourite_section {}
.favourite_section .title {}
.favourite_section .favourite_list {}
.favourite_section li {}
.favourite_section li a {}
.favourite_section li a:hover {}
/* 취미영역 */
.hobby_section {}
.hobby_section .title {}
.hobby_section .hobby_list {}
.hobby_section li {}
.hobby_section li a {}
.hobby_list li a:hover
/* 배너영역 */
.banner_section {}
.banner_box_01 {display: flex; justify-content: center; align-items: center; height: 10px;}
.banner_box_01 a {display: block; width: 100px;}
.banner_box_01 svg {width: 100%; height: auto; transition: all 0.6s;}
.banner_box_01 a:hover svg {transform: scale(1.2);}
.banner_box_02 .banner_list {display: flex;}
.banner_list {}
.banner_list li a {display: block; width: 100px; padding: 0 30px}
.banner_list li a svg {width: 100%; height: auto; transition: all 0.6s;}
.banner_box_02 {height: 100px; display: flex; justify-content: center; align-items: center;}
.banner_box_02 a:hover svg {transform: scale(1.2);}
/* 푸터영역 */
.footer {font-size: 20px; font-weight: bold; color: gray;
        padding: 20px 50px; letter-spacing: 4px;}



/* 영역설정!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* 헤더영역 */
.header {order: 1;}
/* 프로필사진영역 */
.photo_section {order: 2;}
/* 기본정보영역 */
.basic_post_section {order: 3;}
/* 작품영역 */
.content_section {order: 4;}
/* 좋아하는것영역 */
.favourite_section {order: 5;}
/* 취미영역 */
.hobby_section {order: 6;}
/* 자격영역 */
.license_section {order: 7;}
/* SNS영역 */
.banner_section {order: 8;}
/* 푸터영역 */
.footer {order: 9;}


/* 미디어쿼리구간################################################################################# */
/* 모바일구간 767px 이하일 때 */
@media(max-width:767px){
      #wrap {display: flex; flex-direction: column; 
            flex-flow: row wrap; /*flex-flow:row wrap */
            width: 80%; 
            /* margin: 0 5% 0 5%; */
            margin: 0 auto;/*화면중앙에배치*/}
/* 인포메이션영역설정 */
.info_section {width: auto; background-color: rgb(197, 136, 157); position: absolute; top: 5px; right: 50px; z-index: 50;}
.info_section>ul {display: flex;}
.info_section>ul>li {width: auto;}
.info_section>ul>li>a {display: block; text-align: center; padding: 15px;}
.info_section>ul>li>a>i {}
.header {flex-direction: column; width: 100%; justify-content: flex-end; position: relative;}
.header>h1 {width: 100%; font-size: 40px; left: 0; top: 0; position: relative;}
.header>nav {width: 100%; display: flex; align-items: flex-end; color: #fff;}
.menu_button {display: flex;/*토글버튼 클릭시 변화할 부분*/} 
.menu_button>li {width: auto;}
.menu_button>li>a {display: block; font-size: 25px; padding: 10px 20px; color: #ffffff;}
/* 토글버튼 */
.sub_menu_toggle_button {display: block; width: 20px; height: 20px; background-repeat: no-repeat; text-indent: -9999px; 
                        padding: 20px 0; background-size: contain; position: absolute; top: 20px; right: 20px;}
.menu_toggle_button {display: block; position: absolute; z-index: 60; top: 15px; right: 15px;
                    background-image: url(../img/square-caret-down-regular.svg);width: 30px; height: 30px;
                    background-repeat: no-repeat; text-indent: -9999px;}
/* 프로필사진영역 */
.photo_section {width: 33%; height: 510px; background-color: beige;}
/* 기본정보영역 */
.basic_post_section {width: 35%; background-color: rgb(218, 200, 214);}
/* 작품영역 */
.content_section {width: 32%; background-color: rgb(197, 179, 197);}
/* 좋아하는것영역 */
.favourite_section {width: 33%; height: 700px; background-color: aliceblue;}
/* 취미영역 */
.hobby_section {width: 35%; background-color: rgb(231, 229, 245);}
/* 배너영역 */
.banner_section {width: 32%; display: flex; flex-direction: column;}
.banner_section>div {flex: 1;}
.banner_box_01 {background-color: #e3f3e7;}
.banner_box_02 {background-color: #e1e4de;}

/* 영역설정!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* 헤더영역 */
.header {order: 1;}
/* 프로필사진영역 */
.photo_section {order: 2;}
/* 기본정보영역 */
.basic_post_section {order: 3;}
/* 작품영역 */
.content_section {order: 4;}
/* 좋아하는것영역 */
.favourite_section {order: 5;}
/* 취미영역 */
.hobby_section {order: 6;}
/* 자격영역 */
.license_section {order: 7;}
/* SNS영역 */
.banner_section {order: 8;}
/* 푸터영역 */
.footer {order: 9;}
}


/* 태블릿구간 768px이상 1139px이하 구간 */
@media(min-width:768px) and (max-width:1139px){
/* 인포메이션영역설정 */
.info_section {width: auto; background-color: rgb(197, 136, 157); position: absolute; top: 5px; right: 50px; z-index: 50;}
.info_section>ul {display: flex;}
.info_section>ul>li {width: auto;}
.info_section>ul>li>a {display: block; text-align: center; padding: 15px;}
.info_section>ul>li>a>i {}
.header {flex-direction: column; width: 100%; justify-content: flex-end; position: relative;}
.header>h1 {width: 100%; font-size: 40px; left: 0; top: 0; position: relative;}
.header>nav {width: 100%; display: flex; align-items: flex-end; color: #fff;}
.menu_button {display: flex;/*토글버튼 클릭시 변화할 부분*/} 
.menu_button li {width: auto;}
.menu_button li a {display: block; font-size: 25px; padding: 10px 20px; color: #ffffff;}
/* 토글버튼 */
.sub_menu_toggle_button {display: block; width: 20px; height: 20px; background-repeat: no-repeat; text-indent: -9999px; 
                        padding: 20px 0; background-size: contain; position: absolute; top: 20px; right: 20px;}
.menu_toggle_button {display: block; position: absolute; z-index: 60; top: 15px; right: 15px; 
                    background-image: url(../img/square-caret-down-regular.svg); width: 30px; height: 30px;
                    background-repeat: no-repeat; text-indent: -9999px;}
/* 사진영역 */
.photo_section {width: 33%; height: 510px; background-color: rgb(228, 228, 228);}
.photo_section span {}
span.prev_button {}
span.next_button {}
/* 기본정보영역 */
.basic_post_section {width: 35%; background-color: rgb(211, 211, 211);}
.basic_post_section .title {}
.basic_post_section .basic_post_list {}
.basic_post_section li {}
.basic_post_section li a {}
.basic_post_section li a:hover {}
.basic_post_section b {}
/* 내용영역 */
.content_section {width: 32%; background-color: rgb(228, 228, 228);}
.content_section .content_list {}
.content_section li {}
.content_section li a {}
.content_section li a:hover {}
.content_section b {}
/* 좋아하는것영역 */
.favourite_section {width: 33%; height: 500px; background-color: rgb(209, 192, 198);}
.favourite_section .title {}
.favourite_section .favourite_list {}
.favourite_section li {}
.favourite_section li a {}
.favourite_section li a:hover {}
.favourite_section b {}
/* 취미영역 */
.hobby_section {width: 35%; background-color: rgb(194, 168, 177);}
.hobby_section .title {}
.hobby_section .hobby_list {}
.hobby_section li {}
.hobby_section li a {}
.hobby_list li a:hover
.hobby_section b {}
/* 배너영역 */
.banner_section {}
.banner_box_01 {display: flex; justify-content: center; align-items: center; height: 10px;}
.banner_box_01 a {display: block; width: 50px;}
.banner_box_01 svg {width: 100%; height: auto; transition: all 0.6s;}
.banner_box_01 a:hover svg {transform: scale(1.2);}
.banner_box_02 {height: 100px; display: flex; justify-content: center; align-items: center;}
.banner_box_02 a {display: block; width: 100px;}
.banner_box_02 svg {width: 100%; height: auto; transition: all 0.6s;}
.banner_box_02 a:hover svg {transform: scale(1.2);}
.banner_box_02 .banner_list {display: flex;}
.banner_list {}
.banner_list li a {display: block; width: 50px; padding: 10 20px}
.banner_list li a svg {transition: all 0.6s;}
/* 푸터영역 */
.footer {font-size: 15px; font-weight: bold; color: gray;
  padding: 15px 45px; letter-spacing: 3px;}

/* 영역설정!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* 헤더영역 */
.header {order: 1;}
/* 프로필사진영역 */
.photo_section {order: 2;}
/* 기본정보영역 */
.basic_post_section {order: 2;}
/* 작품영역 */
.content_section {order: 3;}
/* 좋아하는것영역 */
.favourite_section {order: 4;}
/* 취미영역 */
.hobby_section {order: 5;}
/* SNS영역 */
.banner_section {order: 6;}
/* 푸터영역 */
.footer {order: 7;}
}


/* 웹구간 1140px */
@media (min-width:1140px){
.menu_button {display: flex !important;}
#wrap {max-width: 1200px;}
}